.rocket-container {
    position: relative;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.neunzigwtf {
    color: #39ff14;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', monospace;;
}

.rocket {
    width: calc(200px + 20vmin);
    min-width: 250px;
    max-width: 600px;
    position: absolute;
    transform: rotate(-45deg);
    animation: flyUp 5s infinite;
    filter: drop-shadow(0 0 10px #39ff14);
    transition: filter 0.5s ease;
    &:hover {
        animation-play-state: paused;
        filter: drop-shadow(0 0 25px #39ff14);
    }
    img {
        &:hover {
            transition: transform 0.5s ease;
            transform: scale(1.1);
        }
    }
}

@keyframes flyUp {
    0% {
        transform: translateY(100vh) rotate(-50deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translateY(0) rotate(-30deg);
        animation-timing-function: linear;
    }
    100% {
        transform: translateY(calc(-100vh)) rotate(-70deg);
        animation-timing-function: ease-in;
    }
}
