.rocket-container {
    position: relative;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.neunzigwtf {
    // max-width: 800px;
    color: #39ff14;
    font-size: 8vw;
    font-family: 'Press Start 2P', monospace;;
}

.rocket {
    width: 25vw;
    position: absolute;
    bottom: -25vw;
    animation: flyUp 5s ease-in infinite;
    transition: transform 1s ease, filter 0.5s ease;
    &:hover {
        animation-play-state: paused;
        filter: drop-shadow(0 0 20px #39ff14);
    }
    img {
        &:hover {
            transition: transform 0.5s ease;
            transform: scale(1.1);
        }
    }
}

@keyframes flyUp {
    0% {
        transform: translateY(0) rotate(-50deg);
    }
    50% {
        transform: translateY(-100vh) rotate(-30deg);
    }
    100% {
        transform: translateY(-175vh) rotate(-50deg);
    }
}
